h2 {
    margin-top: 20px;
}

.addSession button {
    margin-left: 10px;
}

.sessionDiv button {
    margin-right: 10px;
}

.mapDiv {
    height: 56vh;
}

.loadingElement {
    height: 100%;
}
.mapElement {
    height: 52vh; 
    width: 100%
}

.zoom-button {
    float: right;
}

.dashboardTable {
    position: absolute;
}

.centerCoordinateColumn {
    min-width: 250px;
}

.addressColumn {
    min-width: 400px;
}

.clusterParams label {
    padding-left: 10px;
}

.circle-display-div {
    margin-top: 15px;
}

.circle-display-div input {
    margin-left: 15px;
}

.csv-link {
    margin-right: 15px;
}

.navbar-brand a {
    text-decoration: none;
    color: black;
}

.navbar a {
    padding-right: 10px;
}

.login {
    margin: 30px;
    margin-top: 20px;
}

.login input {
    width: 500px;
}