h2 {
    margin-top: 15px;
}

.addSession button {
    margin-left: 10px;
}

.sessionDiv button {
    margin-right: 10px;
}

.dashboard {
    padding-left: 10px;
    padding-right: 10px;
}

label {
    font-size: .9em;
    font-weight: bold;
    margin-top: 15px;
}

.map-container {
    display: flex;
    box-shadow: 0 0 1px black;
}

.mapDiv {
    height: 718px;
    width: 100%;
}

.loadingElement {
    height: 100%;
}
.mapElement {
    height: 718px; 
}

.zoom-button {
    float: right;
    position: relative;
    top: -63px;
    right: 75px;
    height: 40px;
    background-color: white;
    color:#666666;
    font-weight: bold;
    box-shadow: 0 .65px 1px rgba(0, 0, 0, 0.22), 0 .65px 1px rgba(0, 0, 0, 0.22);
}

.dashboardTable {
    position: relative;
    top: 22px;
}

.centerCoordinateColumn {
    min-width: 250px;
}

.addressColumn {
    min-width: 400px;
}

.table {
    box-shadow: 0 0 1px black;
}

.thead-row {
    background-color:lightsteelblue;
}

.clusterParams {
    width: 290px;
    height: 718px;
    padding: 7px 20px;
    overflow: scroll;
    background-color:lightsteelblue;
    border-right: solid 2px white;
}

h5 {
    margin-top: 20px;
    font-weight: 600;
}

.line-div {
    background-color: white;
    height:1px;
    width: 100%;
    margin-top: 30px;
}

.cluster-noise-div {
    display: flex;
    align-items: center;
}

.circle-display-section{
    display: flex;
    align-items: baseline;
}

.circle-display-section input{
    margin-right: 10px;
}

.circle-display-div img {
    width: 100%;
}

.csv-link {
    margin-right: 15px;
}

.navbar {
    box-shadow: 0 0 2px black;
    background-color: lightsteelblue;
}

.navbar-brand a {
    text-decoration: none;
    color: white;
    font-size: 1.25em;
}

.navbar a {
    padding-right: 10px;
    color: white;
    font-weight: bold;
}

.login {
    margin: 30px;
    margin-top: 20px;
}

.login input {
    width: 500px;
}

.data-row:hover {
    cursor: pointer;
}

.display-noise-label {
    margin-right: 10px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ded3de;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
  }
  
  input:checked + .slider {
    background-color: #933692;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #933692;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }